{% extends "template_cabecalho.html" %}
{% block conteudo %}
        <form method="post" action="{{ url_for('users_post') }}">
		{{ form.csrf_token }}
			<fieldset>
			<div class="form-group">
				{{ form.username.label }}
				{{ form.username(class_="form-control",
								 placeholder="Nome de usuário")}}
				{% for error in form.username.errors %}
					{{ error }}
				{% endfor %}
			</div>
			<div class="form-group">
				{{ form.email.label }}
				{{ form.email(class_="form-control",
							  placeholder="Endereço de email")}}
				{% for error in form.email.errors %}
					{{ error }}
				{% endfor %}
			</div>
			<button type="submit" class="btn btn-primary">Cadastrar</button>
			</fieldset>
		</form>
{% endblock %}