<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap.css') }}">
		<title>{{ title }}</title>
	</head>
	<body>
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img src="{{ url_for('static', filename='challenges-logo.svg') }}" alt="logo" height="24" class="d-inline-block align-text-top">
					Alura Challenge
				</a>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						{% if current_user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" aria-current="page" href="{{ url_for('transactions_get') }}">Importações</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('users_get') }}">Usuários</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('logout') }}">Sair</a>
						</li>
						{% endif %}
						{% if not current_user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="/login">Login</a>
						</li>
						{% endif %}
				  </ul>
				</div>
			</div>
		</nav>
		<div class="container">
			{% with messages = get_flashed_messages(with_categories=true) %}
			<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
				{% if messages %}
					{% for category, message in messages %}
					<div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
					{{ message }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					{% endfor %}
				{% endif %}
			{% endwith %}
			<div class="page-header my-3">
				<h1>{{ title }}</h1>
			</div>

			{% block conteudo %}
			{% endblock %}

		</div>
	<script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
	</body>
</html>